{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>

    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }}</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                            supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total : </td>
                    <td id="total">{{ total }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
    <p>Surprise, c'est vide !</p>
    {% endif %}
    <div class="d-flex justify-content-between">
        <a href="{{ path('shop') }}" class="btn bg-light">Retourner à la boutique</a>
        {# <a href="{{ path('paypal') }}" class="btn btn-primary">Commander</a> #}
    </div>
</div>

<div class="container mt-5 d-flex justify-content-center">
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AdaknML8sOl-wATqvsh0zeS66RfGdkdavw-hU3fawoxevswDpq2zLWN_w7K9W_Y6wgts6QkFTGoWr3dI&currency=EUR"></script>

    <script>
        var total = document.getElementById('total').textContent;
        console.log(total);
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
              // Set up the transaction
              createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Merci de votre achat ' + details.payer.name.given_name + '!');
                });
            }
        }).render('#paypal-button-container');
    </script>
</div>  
{% endblock %}
